html {
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  padding: 0;
}

.display-block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.padding-0 {
	padding: 0px;
}

.margin-0 {
	margin: 0px;
}

.text-align-right {
	text-align: right;
}

.text-align-left {
	text-align: left;
}

.width100 {
	width: 100%;
}

.height100 {
	height: 100%;
}

.width0 {
	width: 0%;
}

.height0 {
	height: 0%;
}

.positionabsolute {
	position: absolute;
}


@media (max-width: 768px) {
	.mediaquery1 {
		float: none;
	}
}